*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:root {
  /* THIS WILL BE OVERWRITTEN  BY colorVariable.js when App.vue onMounted()*/
  --color0: #0f0f0f; 
  --color1: #404040; 
  --color2: #819234; 
  --color3: #C0C0C0; 
  --color4: #f9f9f9;

  /* Radius Variable */
  --r0: 30px;
  --r1: 30px;
  /* padding Variables */
  --pad0: 40px;
  --pad1: 40px;

  /* Text Variables */
  --font: sans-serif;
  --hcolor: var(--c0);
  --hmax: 38pt;
  --hmin: 18pt;

}
/* SET COLOR THEMES BASED ON COLOR VARIABLES */
[data-theme="light"] {
  --c0: var(--color0); 
  --c1: var(--color1); 
  --c2: var(--color2); 
  --c3: var(--color3); 
  --c4: var(--color4); 
}
[data-theme="dark"] {
  --c0: var(--color4); 
  --c1: var(--color3); 
  --c2: var(--color2); 
  --c3: var(--color1); 
  --c4: var(--color0);
}







body {
  min-height: 100vh;
  font-family: var(--font);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--c4);
  color: var(--c0);
}


h1 {
  font-size: var(--hmax);
  font-weight: 600;
  color: var(--hcolor);
}

h2 {
  font-size: calc((var(--hmax) + var(--hmin)) / 2);
  font-weight: 600;
  color: var(--hcolor);
}

h3 {
  font-size: var(--hmin);
  font-weight: 600;
  color: var(--hcolor);
}

p {
  font-size: 12pt;
}


button{
  background-color: var(--c4);
  color: var(--c2);
  border: 1px solid var(--c2);

  padding: 10px 20px;
  border-radius: var(--r1);
  transition: 0.2s ease-in;
}
button:hover{
  background-color: var(--c2);
  color: var(--c4);
  border: 1px solid var(--c2);
}


/* instead of creating for example card components(whitch is some content with a container arround), just create all components uncontained with transparent background, and add the class=contained if it needs to be contained. This applays to whatever element> */
.contained{
  display: block;
  background-color: var(--c4);
  border: 1px solid var(--c3);
  border-radius: var(--r0);
  padding: var(--pad0) var(--pad1);
}